body {
    font-family: hero-new-hairline, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
}

.right-links {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    gap: 12px;
    font-size: 16px;
    margin: 12px;
}

