body {
    font-family: hero-new-hairline, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 12px;
}

.right-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    gap: 12px;
    font-size: 16px;
    margin: 12px;
}

.headerlower {
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.hl-img {
    padding: 40px;
    justify-content: space-between;
    width: 800px;
    margin-left: 70px;
    
}

.hl-img-two {
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
    padding: 50px;
    flex: 1;
}

.hl-img-two img {
    border: #3882F6 2px solid;
    border-radius: 5px;
}

.midline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    flex: 1;
}

.imgline {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 1500px;
    flex-wrap: wrap;
}

.align-img {
    flex-wrap: wrap;
}

.align-img img {
    display: flex;
    height: 300px;
    width: 300px;
    border: #3882F6 4px solid;
    border-radius: 5px;
}

.align-img p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.square {
    display: flex;
    width: 100px;
    height: 100px;
    background: #3882F6;
    border-radius: 5px;
}

.botline {
    display: flex;
    background-color: #E5E7EB;
    font: 36px #1F2937;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botline div {
    font-weight: 600;
}

.botline p {
    flex: 1;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 10px;
    padding: 10px;
    font-style: italic;
    font-size: 20px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.box {
    background-color: #3882F6;
    width: 750px;
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: white;

}

.footer {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.socials {
    display: flex;
    gap: 64px;
}

/* push the footer to the bottom of the page, even when lacking enough content to fill the page */
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* adjust button for bottom sign up box */
.box a {
    display: flex;
    height: auto;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    margin-right: 50px;
    border: white 2px solid;
    justify-content: center;
    align-items: center;
}

/* adjust button for top sign up */
.hl-img button {
    height: 25px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.mvbox {
    margin-left: 50px;
}

.mvbox h6 {
    font-size: 10px;
}

.box h6 {
    font-weight: lighter;
    margin-top: 5px;
}

.box p {
    font-weight: bold;
    margin-bottom: 5px;
}

.artifact {
    max-width: 64px;
    max-height: auto;
}